<header class="header">
  <% const linkHead_01 = {name: "Tazas", url: "http://localhost:8080/products/searching/searchResults/Taza"} %>
  <% const linkHead_02 = {name: "Termos", url: "http://localhost:8080/products/searching/searchResults/Termo"} %>
  <% const linkHead_03 = {name: "Buzos", url: "http://localhost:8080/products/searching/searchResults/Buzo"} %>
  <% const linkHead_04 = {name: "Remeras", url: "http://localhost:8080/products/searching/searchResults/Remera"} %>
  <!-- HAMBURGER -->
  <nav class="about-nav">
    <!-- ICON -->
    <div class="about-nav__wrap icon--bigger-widener" id="hamburgerButton">
      <a href="#" class="about__anchor icon--bigger-widener">
        <i class="fa-sharp fa-solid fa-bars icon about__icon  icon--bigger"></i>
      </a>
    </div>
    <!-- LIST -->
    <div class="about-nav__listWrap about-nav-toggler" id="hamburgerList">
      <ul class="about-nav__listOfLinks">
        <li class="about-nav__listItems">
          <a href="<%= linkHead_01.url %>" class="about-nav__listAnchor"><%= linkHead_01.name %></a>
        </li>
        <li class="about-nav__listItems">
          <a href="<%= linkHead_02.url %>" class="about-nav__listAnchor"><%= linkHead_02.name %></a>
        </li>
        <li class="about-nav__listItems">
          <a href="<%= linkHead_03.url %>" class="about-nav__listAnchor"><%= linkHead_03.name %></a>
        </li>
        <li class="about-nav__listItems">
          <a href="<%= linkHead_04.url %>" class="about-nav__listAnchor"><%= linkHead_04.name %></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- LOGO -->
  <div class="logo">
    <a href="/" class="img__anchor"><img src="/images/misc/logo.png" alt="logo diseñart" class="img"></a>
  </div>
  <!-- ACCOUNTS -->
  <nav class="account-nav">
    <ul class="ul">
      <!-- SEARCH -->
      <li class="li" id="searchButton">
        <a href="#" class="li__anchor">
          <i class="fa-solid fa-magnifying-glass icon icon--bigger-alt"></i>
        </a>
      </li>
      <!-- CART -->
      <li class="li">
        <a href="/products/cart" class="li__anchor">
          <i class="fa-solid fa-cart-shopping icon icon--bigger-alt"></i>
        </a>
      </li>
      <!-- USER -->
      <% if (locals.isLogged) {  %>
      <nav class="about-user__wrap icon--bigger-widener">
        <div class="about_avatar" id="avatarButton">
          <a href="#" class="user_icon">
            <li class="user_li">
              <img class="user_avatar" src="/images/users/<%=user.image_user%>">
              <div class="user_all_name">
                <div class="user_name"><%=user.name_user.charAt(0).toUpperCase() + user.name_user.slice(1).toLowerCase()%></div>
                <div class="user_name"> <%=user.lastname_user.charAt(0).toUpperCase() + user.lastname_user.slice(1).toLowerCase()%></div>
              </div>
            </li>
          </a>
        </div>
        <!-- LIST USER -->
        <div class="about-user__listWrap about-user-toggler" id="userList">
          <ul class="user_listOfLinks">
            <li class="user_nav_options__listItems">
              <a href="#" class="about-nav__listAnchor">PERFIL</a>
            </li>
            <li class="user_nav_options__listItems">
              <a href="/users/profile" class="about-nav__listAnchor">Mi perfil</a>
            </li>
            <li class="user_nav_options__listItems">
              <a href="/profile/edit" class="about-nav__listAnchor">Editar datos</a>
            </li>
            <li class="user_nav_options__listItems">
              <a href="/logout" class="about-nav__listAnchor">Cerrar sesión</a>
            </li>
            <br>
            <li class="user_nav_options__listItems">
            <a href="#" class="about-nav__listAnchor">PRODUCTO</a>
          </li>
            <li class="user_nav_options__listItems">
            <a href="/products//searching/searchResults" class="about-nav__listAnchor">Ver productos</a>
          </li>
          <li class="user_nav_options__listItems">
          <a href="/products/createProduct" class="about-nav__listAnchor">Crear producto</a>
        </li>
        <li class="user_nav_options__listItems">
          <a href="/products/colours" class="about-nav__listAnchor">Ver colores</a>
        </li>
        <li class="user_nav_options__listItems">
          <a href="/products/sizes" class="about-nav__listAnchor">Ver talles</a>
        </li>
          </ul>
        </div>
      </nav>
      <%} else {%>
      <!-- LOGIN -->
      <nav>
        <ul>
          <li class="li">
            <a href="/users/login" class="li__anchor">
              <i class="fa-regular fa-user icon icon--bigger-alt"></i>
            </a>
          </li>
        </ul>
      </nav>
      <%}%>
  </nav>
  <!-- MODAL SEARCH -->
  <%- include("./header__search") %>
</header>