<!doctype html>
<html lang="es">
<%- include('../partials/head') %>

<body class="bodyXL">
  <!-- HEADER -->
  <%- include('../partials/header') %>
  <!-- MAIN -->
  <main class="edit-profile-main">
    <div>
      <h2 id="edit-profile-welcome">Editar información del perfil</h2>
    </div>
    <form class="editProfile" action="/users/profile/edit?_method=PUT" method="post" enctype="multipart/form-data">
      <section class="edit-profile-data-img">
        <section class="edit-profile-user-img-section">
          <img class="edit-profile-user-img" src="/images/users/<%=user.image_user%>" />
        </section>
        <section class="edit-profile-user-Alldata">
          <h2 class>Datos registrados</h2>
          <div class="edit-profile-usereachData">
            <p class="edit-profile-user-data">
              <input class="edit-profile-input <%= locals.errors && errors.firstName ? 'is-invalid' : null %>" type="text" value="<%=user.name_user.charAt(0).toUpperCase() + user.name_user.slice(1).toLowerCase()  %>" name="firstName" />
              <!-- BACKEND NAME ERROR -->
            <% if (locals.errors && errors.firstName ) { %>
              <div class="text-danger"><%= errors.firstName.msg %></div>
              <% } %>
            </p>
          </div>
          <div class="edit-profile-user-eachData">
            <p class="edit-profile-user-data">
              <input class="edit-profile-input <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" type="text" value="<%=user.lastname_user.charAt(0).toUpperCase() + user.lastname_user.slice(1).toLowerCase()  %>" name="lastName" />
              <!-- BACKEND LAST NAME ERROR -->
              <% if (locals.errors && errors.lastName ) { %>
                <div class="text-danger"><%= errors.lastName.msg %></div>
                <% } %>
              </p>
          </div>
          <div class="edit-profile-user-eachData">
            <p class="edit-profile-user-data">
              <input class="edit-profile-input <%= locals.errors && errors.password ? 'is-invalid' : null %>" type="password" placeholder="Contraseña" name="password" />
               <!-- BACKEND PASSWORD ERROR -->
            <% if (locals.errors && errors.password ) { %>
              <div class="text-danger"><%= errors.password.msg %></div>
              <% } %>
            </p>
          </div>
          <div class="edit-profile-user-eachData">
            <p class="edit-profile-user-data">
              <input class="edit-profile-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" type="email" value=" <%=user.email_user %>" name="email" />
              <!-- BACKEND MAIL ERROR -->
            <% if (locals.errors && errors.email ) { %>
              <div class="text-danger"><%= errors.email.msg %></div>
              <% } %>
            </p>
            <p>
              <label for="avatar">Imagen de perfil</label>
              <input class="input" type="file" name="avatar" accept=".jpg, .jpeg, .png, .gif" title="Editar" />
            </p>
          </div>
            <input id="profile-edit-button" type="submit" value="Guardar datos" />
              </section>
      </section>
    </form>
    <a href="/users/profile">
      <button id="profile-back-delete-button">Volver al perfil</button>
    </a>
    <form action="/users/profile/delete?_method=DELETE" method="post">
      <input id="profile-back-delete-button" type="submit" value="Eliminar usuario" />
    </form>
  </main>
  <!-- FOOTER -->
  <%- include("../partials/footer"); %>
  <!-- SCRIPT -->
  <script src="/../js/header.js"></script>
</body>

</html>