<!doctype html>
<html lang="es">
<%- include('../partials/head') %>

<body class="bodyXL">
  <!-- HEADER -->
  <%- include('../partials/header') %>
  <!-- MAIN -->
  <main class="user-profile-main">
    <div>
      <h2 id="user-profile-welcome">Perfil de <%=users.name_user %></h2>
    </div>
    <section class="profile-data-img">
      <section class="profile-user-img-section">
        <img class="profile-user-img" src="/images/users/<%=users.image_user%>" />
      </section>
      <section class="profile-user-Alldata">
        <h2 class>Datos registrados</h2>
        <div class="profile-usereachData">
          <p class="profile-user-data"><%= users.name_user %></p>
        </div>
        <div class="profile-user-eachData">
          <p class="profile-user-data"><%= users.lastname_user %></p>
        </div>
        <div class="profile-user-eachData">
          <p class="profile-user-data"><%= users.email_user %></p>
        </div>
      </section>
    </section>
    <a href="/users/allProfiles">
      <button id="edit-delete-button">Ver todos los usuarios</button>
    </a>
  </main>
  <!-- FOOTER -->
  <%- include("../partials/footer"); %>
  <!-- SCRIPT -->
  <script src="/../js/header.js"></script>
</body>

</html>