<!-- HTML -->
<!DOCTYPE html>
<html lang="es" style="overflow-x: hidden">
<!-- HEAD -->
<%- include("../partials/head") %>
<!-- BODY -->

<body class="bodyXL">
  <!-- HEADER -->
  <%- include('../partials/header') %>
  <!-- MAIN -->
  <main class="mainPadding">
    <section class="home-wrap">
      <!-- FORMULARIO REGISTER -->
      <div class="form">
        <div class="modal-content" id="register-login-ejs__transformXY">
          <h2 class="modal-form__titulo title_register">Crear una cuenta</h2>
          <!-- START -->
          <form class="modal-form" action="/users/register" method="POST" enctype="multipart/form-data" id="registerForm">
            <!-- MAIL  -->
            <label for="email">Correo electrónico</label>
            <input class="input <%= locals.errors && errors.email ? 'is-invalid' : null %>" type="text" name="email" value="<%= locals.oldData ? oldData.email : null %>" id="inputEmailRegister" />
            <!-- BACKEND MAIL ERROR -->
            <% if (locals.errors && errors.email ) { %>
            <div class="text-danger"><%= errors.email.msg %></div>
            <% } %>
            <!-- FRONTEND MAIL ERROR -->
            <div class="text-danger" id="emailErrorRegister"></div>
            <!-- NAME -->
            <label for="firstName">Nombre</label>
            <input class="input <%= locals.errors && errors.firstName ? 'is-invalid' : null %>" type="text" name="firstName" value="<%= locals.oldData ? oldData.firstName : null %>" id="inputNameRegister" />
            <!-- BACKEND NAME ERROR -->
            <% if (locals.errors && errors.firstName ) { %>
            <div class="text-danger"><%= errors.firstName.msg %></div>
            <% } %>
            <!-- FRONTEND NAME ERROR -->
            <div class="text-danger" id="nameErrorRegister"></div>
            <!-- LAST NAME -->
            <label for="lastName">Apellido</label>
            <input class="input <%= locals.errors && errors.lastName ? 'is-invalid' : null %>" type="text" name="lastName" value="<%= locals.oldData ? oldData.lastName : null %>" id="inputLastNameRegister" />
            <!-- BACKEND LAST NAME ERROR -->
            <% if (locals.errors && errors.lastName ) { %>
            <div class="text-danger"><%= errors.lastName.msg %></div>
            <% } %>
            <!-- FRONTEND REGISTER ERROR -->
            <div class="text-danger" id="lastNameRegisterError"></div>
            <!-- PASSWORD -->
            <label for="password">Contraseña</label>
            <input class="input <%= locals.errors && errors.password ? 'is-invalid' : null %>" type="password" name="password" value="<%= locals.oldData ? oldData.password : null %>" id="inputPassRegister" />
            <!-- BACKEND PASSWORD ERROR -->
            <% if (locals.errors && errors.password ) { %>
            <div class="text-danger"><%= errors.password.msg %></div>
            <% } %>
            <!-- FRONTEND REGISTER ERROR -->
            <div class="text-danger" id="passRegisterError"></div>
            <!-- BIRTH -->
            <label for="date">Fecha de nacimiento</label>
            <input class="input <%= locals.errors && errors.date ? 'is-invalid' : null %>" type="date" name="date" min="1920-01-01" max="2020-12-31" value="<%= locals.oldData ? oldData.date : null %>" id="inputBirthRegister" />
            <!-- BACKEND BIRTH -->
            <% if (locals.errors && errors.date ) { %>
            <div class="text-danger"><%= errors.date.msg %></div>
            <% } %>
            <!-- FRONTEND BIRTH ERROR -->
            <div class="text-danger" id="birthRegisterError"></div>
            <!-- IMG UPLOAD -->
            <label for="avatar">Imagen de perfil</label>
            <input class="input" type="file" name="avatar" accept=".jpg, .jpeg, .png, .gif" id="inputImgRegister" />
               <!-- BACKEND IMG ERROR -->
               <% if (locals.errors && errors.avatar ) { %>
                <div class="text-danger"><%= errors.avatar.msg %></div>
                <% } %>
            <!-- FRONTEND IMG ERROR -->
            <div class="text-danger" id="imgRegisterError"></div>
            <!-- SUBMIT -->
            <button class="modal-submit" type="submit" id="registerButton">
              <a href="/users/login">Continuar</a>
            </button>
            <!-- LOGIN REDIRECT -->
            <div class="modal-bottom">
              <p>¿Ya tienes una cuenta?</p>
              <a href="/users/login">Iniciar sesión</a>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <!-- FOOTER -->
  <%- include("../partials/footer"); %>
  <!-- SCRIPT -->
  <script src="/../js/header.js"></script>
  <script src="/../js/register.js"></script>
</body>

</html>