<!doctype html>
<html lang="es">
<%- include('../partials/head') %>

<body class="bodyXL">
  <!-- HEADER -->
  <%- include('../partials/header') %>
  <!-- MAIN -->
  <main class="user-profile-main">
    <div>
      <h2 id="user-profile-welcome">Bienvenido <%= user.name_user.charAt(0).toUpperCase() + user.name_user.slice(1).toLowerCase() %>!</h2>
    </div>
    <section class="profile-data-img">
      <section class="profile-user-img-section">
        <img class="profile-user-img" src="/images/users/<%=user.image_user%>" />
      </section>
      <section class="profile-user-Alldata">
        <h2 class>Datos registrados</h2>
        <div class="profile-usereachData">
          <p class="profile-user-data"><%= user.name_user.charAt(0).toUpperCase() + user.name_user.slice(1).toLowerCase() %></p>
        </div>
        <div class="profile-user-eachData">
          <p class="profile-user-data"><%= user.lastname_user.charAt(0).toUpperCase() + user.lastname_user.slice(1).toLowerCase() %></p>
        </div>
        <div class="profile-user-eachData">
          <p class="profile-user-data"><%= user.email_user %></p>
        </div>
      </section>
    </section>
    <a href="http://localhost:8080/users/profile/edit">
      <button id="edit-delete-button">Editar datos</button>
    </a>
    <a href="http://localhost:8080/products/createProduct">
      <button id="edit-delete-button">Crear producto</button>
    </a>
    <a href="http://localhost:8080/products//searching/searchResults">
      <button id="edit-delete-button">Ver productos</button>
    </a>
  </main>
  <!-- FOOTER -->
  <%- include("../partials/footer"); %>
  <!-- SCRIPT -->
  <script src="/../js/header.js"></script>
</body>

</html>