<footer class="footerComponent">
  <div class="footerComponent__row">
    <ul class="ul__footer">
      <li>
        <a href=<%= link_01.url %> class="linkStyle linkStyle_transition"><%= link_01.name %></a>
      </li>
      <li>
        <a href=<%= link_02.url %> class="linkStyle linkStyle_transition"><%= link_02.name %></a>
      </li>
      <li>
        <a href=<%= link_03.url %> class="linkStyle linkStyle_transition"><%= link_03.name %></a>
      </li>
    </ul>
  </div>
  <div class="footerComponent__row">
    <ul class="ul__footer">
      <li>
        <a href=<%= link_04.url %> class="linkStyle linkStyle_transition"><%= link_04.name %></a>
      </li>
      <li>
        <a href=<%= link_05.url %> class="linkStyle linkStyle_transition"><%= link_05.name %></a>
      </li>
    </ul>
  </div>
</footer>