<header class="header">
  <% const linkHead_01 = {name: "Tazas", url: "http://localhost:3000/products/searching/searchResults/Taza"} %>
  <% const linkHead_02 = {name: "Termos", url: "http://localhost:3000/products/searching/searchResults/Termo"} %>
  <% const linkHead_03 = {name: "Buzos", url: "http://localhost:3000/products/searching/searchResults/Buzo"} %>
  <% const linkHead_04 = {name: "Remeras", url: "http://localhost:3000/products/searching/searchResults/Remera"} %>
  <!-- HAMBURGER -->
  <nav class="about-nav">
    <!-- ICON -->
    <div class="about-nav__wrap icon--bigger-widener" id="hamburgerButton">
      <a href="#" class="about__anchor icon--bigger-widener">
        <i class="fa-sharp fa-solid fa-bars icon about__icon  icon--bigger"></i>
      </a>
    </div>
    <!-- LIST -->
    <div class="about-nav__listWrap about-nav-toggler" id="hamburgerList">
      <ul class="about-nav__listOfLinks">
        <li class="about-nav__listItems">
          <a href="<%= linkHead_01.url %>" class="about-nav__listAnchor"><%= linkHead_01.name %></a>
        </li>
        <li class="about-nav__listItems">
          <a href="<%= linkHead_02.url %>" class="about-nav__listAnchor"><%= linkHead_02.name %></a>
        </li>
        <li class="about-nav__listItems">
          <a href="<%= linkHead_03.url %>" class="about-nav__listAnchor"><%= linkHead_03.name %></a>
        </li>
        <li class="about-nav__listItems">
          <a href="<%= linkHead_04.url %>" class="about-nav__listAnchor"><%= linkHead_04.name %></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- LOGO -->
  <div class="logo">
    <a href="/" class="img__anchor"><img src="/images/misc/logo.png" alt="logo diseñart" class="img"></a>
  </div>
  <!-- ACCOUNTS -->
  <nav class="account-nav">
    <ul class="ul">
      <!-- SEARCH -->
      <li class="li" id="searchButton">
        <a href="#" class="li__anchor">
          <i class="fa-solid fa-magnifying-glass icon icon--bigger-alt"></i>
        </a>
      </li>
        <!-- CART -->
      <li class="li">
        <a href="#" class="li__anchor" onclick="openModal('modal3')">
          <i class="fa-solid fa-cart-shopping icon icon--bigger-alt"></i>
        </a>
      </li>

            <!-- USER -->
   
            <% if (user) {  %>
              <li class="user_li"> 
               <img class="user_avatar" src="/images/users/<%=user.avatar%>">
               <div class="user_all_name">
               <div class= "user_name"><%=user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1).toLowerCase()%></div>
               <div class= "user_name"> <%=user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1).toLowerCase()%></div>
              </div>
             </li>
        
             <%} else{%>
     
      <!-- LOGIN -->
      <li class="li">
        <a href="#" class="li__anchor" onclick="openModal('modal1')">
          <i class="fa-regular fa-user icon icon--bigger-alt"></i>
        </a>
      </li>
      <%}%>
    </ul>
  </nav>
  <!-- FORMULARIOS -->
  <%- include('./header__cart') %>
  <%- include('./header__register') %>
  <%- include('./header__login') %> 
  <!-- MODAL SEARCH -->
  <%- include("./header__search") %>
</header>