<!-- HTML -->
<!doctype html>
<html lang="es">
<%- include("../partials/head") %>

<body class="bodyXL">
  <!-- HEADER -->
  <% const headerData={linkHead_01: {name: "Twitter" , url:
		"https://twitter.com/" }, linkHead_02: {name: "Instagram" , url:
		"https://instagram.com/" }, linkHead_03: {name: "Google Maps" , url:
		"https://www.google.com/maps/" }, linkHead_04: {name: "Youtube" , url:
		"https://youtube.com/" }, linkHead_05: {name: "Facebook" , url:
		"https://facebook.com/" },}; %> <%- include('../partials/header',
		headerData) %>
  <!-- MAIN -->
  <main class="createdProduct-main">
    <section class="createdProduct-wrap">
      <div class="createdProduct-body">
        <div class="createdProduct-information-complete">
          <section class="createdProduct-information">
            <h2 id="name"><%= product.name_product %></h2>

            <h3 class="specific-info-createdProduct">Color</h3>
            <section class="createdProduct-option">
              <p><%= product.colour.colour %></p>
            </section>
            <h3 class="specific-info-createdProduct">Talle</h3>
            <section class="createdProduct-option">
              <p><%= product.size.size %></p>
            </section>
            <h3 class="specific-info-createdProduct">Precio</h3>
            <section class="createdProduct-option">
              <p>$<%= product.price_product %></p>
            </section>
            <h3 class="specific-info-createdProduct">Cantidad disponible</h3>
            <section class="createdProduct-option">
              <p><%= product.quantity_product %> unidades</p>
            </section>
          </section>

          <h3 class="specific-info-createdProduct">Descripción</h3>
          <p id="information-createdProduct">
            <%= product.description_product %>
          </p>

          <h3 class="specific-info-createdProduct">Fotos del producto</h3>
          <section class="createdProduct-img">

            <% const lastFourImages = product.image_product.slice(-4);
            lastFourImages.forEach(filename => { %>
            <img class="createdProduct-img-files" src="/images/productos/<%= filename %>" width="20%" />
            <% }) %>
      
          </section>

          <a href="/products/<%= product.id_product%>/editProduct">
            <button id="edit-delete-button">Editar producto</button>
          </a>
          <a href="/products/searching/searchResultsUser">
            <button id="edit-delete-button">Ver todos los productos</button>
          </a>
          <br>
          <br>
          <form action="/products/<%= product.id_product%>/delete?_method=DELETE" method="post">
            <input id="edit-delete-button" type="submit" value="Eliminar producto" />
          </form>
        </div>
      </div>
    </section>
  </main>
  <!-- FOOTER -->
  <%- include("../partials/footer"); %>
  <!-- SCRIPT -->
  <script src="/../js/header.js"></script>
</body>

</html>