<!-- HTML -->
<!doctype html>
<html lang="es">
<%- include("../partials/head") %>

<body class="bodyXL">
  <!-- HEADER -->
  <%- include('../partials/header') %>
  <!-- MAIN -->
  <main class="main-createProduct">
    <!-- FORMULARIO CREATE PRODUCT -->
    <form class="createProduct" action="/products" method="post" enctype="multipart/form-data" id="createProductForm">
      <!--NAME-->
      <label class="createProduct-name" for="productName">Nombre del producto</label>	  
    <input id="createProduct-name" id="productName" class="input <%= locals.errors && errors.productName ? 'is-invalid' : null %>" type="text" name="productName" value="<%= locals.oldData ? oldData.productName : null %>" />
    <!-- BACKEND NAME ERROR -->
	  <% if (locals.errors && errors.productName ) { %>
	  <div class="text-danger"><%= errors.productName.msg %></div>
	  <% } %> 
	  <!-- FRONTEND NAME ERROR -->
      <div class="text-danger" id="createProduct-nameError"></div>
      <!--COLOR-->
      <label class="createProduct-info" for="productColor">Color</label>
      <section class="createProduct-main-option">
        <select name="productColor" id="productColor" class="input <%= locals.errors && errors.productColor ? 'is-invalid' : null %>" required>
          <option value="Color" selected disabled>Color</option>
          <% colours.forEach(colour => { %>
          <option class="createProduct-option" value="<%= colour.colour %>" <%= locals.oldData && (colour.colour === oldData.productColor) ? 'selected' : null %> >
            <%= colour.colour %>
          </option>
          <% }) %>
        </select>
        <button class="create-color-size-button" onclick="redireccionarColor()" >Crear color</button>
      </section>
      <!-- BACKEND COLOR ERROR -->
	  <% if (locals.errors && errors.productColor ) { %>
      <div class="text-danger"><%= errors.productColor.msg %></div>
      <% } %> 
      <!-- FRONTEND COLOR ERROR -->
      <div class="text-danger" id="productColorError"></div>
      <!--SIZE-->
      <label class="createProduct-info" for="productSize">Talle</label>
      <section class="createProduct-main-option">
        <select name="productSize" id="size" class="input <%= locals.errors && errors.productSize ? 'is-invalid' : null %>" required>
          <option value="Talle" selected disabled>Talle</option>
          <% sizes.forEach(size => { %>
          <option class="createProduct-option" value="<%= size.size %>" <%= locals.oldData && (size.size === oldData.productSize) ? 'selected' : null %>>
            <%= size.size %>
          </option>
          <% }) %>
        </select>
          <button class="create-color-size-button" onclick="redireccionarTalle()" >Crear talle</button>
      </section>
      <!-- BACKEND SIZE ERROR -->
	    <% if (locals.errors && errors.productSize ) { %>
      <div class="text-danger"><%= errors.productSize.msg %></div>
      <% } %> 
      <!-- FRONTEND SIZE ERROR -->
      <div class="text-danger" id="sizeError"></div>
      <!--PRICE-->
      <label class="createProduct-info" for="productPrice">Precio</label>
	  <input id="productPrice" class="input <%= locals.errors && errors.productPrice ? 'is-invalid' : null %>" 
	  type="number" name="productPrice" 
	  value="<%= locals.oldData ? oldData.productPrice : null %>" /> 
    <!-- BACKEND PRICE ERROR -->
	  <% if (locals.errors && errors.productPrice ) { %>
		<div class="text-danger"><%= errors.productPrice.msg %></div>
		<% } %>
      <!-- FRONTEND PRICE ERROR -->
      <div class="text-danger" id="productPriceError"></div>
      <!--DESCRIPTION-->
      <label class="createProduct-info" for="productDescription">Descripción</label>
	  <input id="createProduct-information-product" class=" <%= locals.errors && errors.productPrice ? 'is-invalid' : null %>" 
	  type="text" name="productDescription" 
	  value="<%= locals.oldData ? oldData.productDescription : null %>" required/>
    <!-- BACKEND DESCRIPTION ERROR -->
	  <% if (locals.errors && errors.productDescription ) { %>
	  <div class="text-danger"><%= errors.productDescription.msg %></div>
	  <% } %>
	  <!-- FRONTEND DESCRIPTION ERROR -->
      <div id="caracteres" class="text-danger"><span id="contador">0</span> caracteres</div>
      <div class="text-danger" id="createProduct-information-productError"></div>
      <!--STOCK-->
      <label class="createProduct-info" for="productStock">Cantidad disponible</label>
      <input type="number" id="productStock" name="productStock" class="input <%= locals.errors && errors.productStock ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.productStock : null %>" />
      <!-- BACKEND STOCK ERROR -->
	  <% if (locals.errors && errors.productStock ) { %>
      <div class="text-danger"><%= errors.productStock.msg %></div>
      <% } %>
      <!-- FRONTEND STOCK ERROR -->
      <div class="text-danger" id="productStockError"></div>
      <!--IMAGES-->
      <label class="createProduct-info" for="productImages">Foto del producto</label>
	  <input id="productImages" class="input <%= locals.errors && errors.productImages ? 'is-invalid' : null %>" 
	  type="file" name="productImages"
	  accept=".jpg, .jpeg, .png, .gif" multiple
	  value="<%= locals.oldData ? oldData.productImages : null %>" />
    <!-- BACKEND IMAGES ERROR -->
	  <% if (locals.errors && errors.productImages ) { %>
	  <div class="text-danger"><%= errors.productImages.msg %></div>
	  <% } %>
      <!-- FRONTEND IMAGES ERROR -->
      <div class="text-danger" id="productImagesError"></div>
      <!--SUBMIT-->
      <input id="createProduct-finish" type="submit" value="Crear producto" />
    </form>
<!--     <div class="buttons-color-size">
      <a href="/products/colours">
        <button class="create-color-size-button">Crear color</button>
      </a>

      <a href="/products/sizes">
        <button class="create-color-size-button">Crear talle</button>
      </a>
    </div> -->
  </main>

  <!-- FOOTER -->
  <%- include("../partials/footer"); %>
  <!-- SCRIPT -->
  <script src="/js/header.js"></script>
  <script src="/js/createProduct.js"></script>
          <script>
            function redireccionarTalle() {
              event.preventDefault()
                window.location.href = "/products/sizes";
            }
        </script>
        <script>
          function redireccionarColor() {
            event.preventDefault()
              window.location.href = "/products/colours";
          }
      </script>
</body>

</html>