<!-- HTML -->
<!DOCTYPE html>
<html lang="es" style="overflow-x: hidden">
	<!-- HEAD -->
	<%- include("../partials/head") %>
	<!-- BODY -->
	<body class="bodyXL">
		<!-- HEADER -->
		<%- include('../partials/header') %>
		<!-- MAIN -->
		<main class="mainPadding">
			<section class="home-wrap">
				<!-- FORMULARIO REGISTER -->
				<div class="form">
					<div class="modal-content" id="register-login-ejs__transformXY">
						<h2 class="modal-form__titulo title_register">Crear una cuenta</h2>
						<form
							class="modal-form"
							action="/users/register"
							method="POST"
							enctype="multipart/form-data"
						>
							<label for="email">Correo electrónico</label>
							<input
								class="input <%= locals.errors && errors.email ? 'is-invalid' : null %>"
								type="text"
								name="email"
								value="<%= locals.oldData ? oldData.email : null %>"
							/>
							<% if (locals.errors && errors.email ) { %>
							<div class="text-danger"><%= errors.email.msg %></div>
							<% } %>
							<label for="firstName">Nombre</label>
							<input
								class="input <%= locals.errors && errors.firstName ? 'is-invalid' : null %>"
								type="text"
								name="firstName"
								value="<%= locals.oldData ? oldData.firstName : null %>"
							/>
							<% if (locals.errors && errors.firstName ) { %>
							<div class="text-danger"><%= errors.firstName.msg %></div>
							<% } %>
							<label for="lastName">Apellido</label>
							<input
								class="input <%= locals.errors && errors.lastName ? 'is-invalid' : null %>"
								type="text"
								name="lastName"
								value="<%= locals.oldData ? oldData.lastName : null %>"
							/>
							<% if (locals.errors && errors.lastName ) { %>
							<div class="text-danger"><%= errors.lastName.msg %></div>
							<% } %>
							<label for="password">Contraseña</label>
							<input
								class="input <%= locals.errors && errors.password ? 'is-invalid' : null %>"
								type="password"
								name="password"
								value="<%= locals.oldData ? oldData.password : null %>"
							/>
							<% if (locals.errors && errors.password ) { %>
							<div class="text-danger"><%= errors.password.msg %></div>
							<% } %>
							<label for="date">Fecha de nacimiento</label>
							<input
								class="input <%= locals.errors && errors.date ? 'is-invalid' : null %>"
								type="date"
								name="date"
								min="1920-01-01"
								max="2020-12-31"
								value="<%= locals.oldData ? oldData.date : null %>"
							/>
							<% if (locals.errors && errors.date ) { %>
							<div class="text-danger"><%= errors.date.msg %></div>
							<% } %>
							<label for="avatar">Imagen de perfil</label>
							<input
								class="input"
								type="file"
								name="avatar"
								accept=".jpg, .jpeg, .png, .gif"
							/>

							<button class="modal-submit" type="submit">
								<a href="/users/login">Continuar</a>
							</button>

							<div class="modal-bottom">
								<p>¿Ya tienes una cuenta?</p>
								<a href="/users/login">Iniciar sesión</a>
							</div>
						</form>
					</div>
				</div>
			</section>
		</main>
		<!-- FOOTER -->
		<%- include("../partials/footer"); %>
		<!-- SCRIPT -->
		<script src="/../js/main.js"></script>
		<script src="/../js/header.js"></script>
	</body>
</html>
